---
redirect_from: /projects.php/
---
<html>
	<head>
		<title>Aaron Lindsay :: Projects</title>
		<link rel="stylesheet" type="text/css" href="/common.css" />
		<link rel="stylesheet" type="text/css" href="/projects.css" />
	</head>
	<body>
		{% include header.htm %}

		<h1>My Projects</h1>
		<p>
			Most of the projects I work on tend to be free software
			that run on mobile devices and video game consoles.
			The following is a list of the main projects I've worked
			on.
		</p>

		{% for project in site.data.projects %}
			{% if project.contributions %}
				<h1>Contributions</h1>
				<p>
					The following are miscellaneous projects I've been involved with or contributed
					to over the years.
				</p>
			{% endif %}

			<div class="project">
				{% if project.image %}
					<div class="projectimage">
						<a href="{{ project.url }}"><img title="{{ project.caption }}" alt="{{ project.caption }}" src="{{ project.image }}"></img></a>
						{% if project.caption %}<p>{{ project.caption }}</p>{% endif %}
					</div>
				{% endif %}
				<h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
				<em>{{ project.date }}</em>
				<p>
					{{ project.desc }}
				</p>
				{% unless project.clear %}
					<div class="clear"></div>
					</div>
				{% endunless %}
			</div>
		{% endfor %}

		
		{% include footer.htm %}
	</body>
</html>
