---
---
<html>
	<head>
		<title>Aaron Lindsay</title>
		<link rel="stylesheet" type="text/css" href="common.css" />
		<meta name="author" content="Aaron Lindsay" />
		<meta name="description" content="Maker of haxx." />
		<meta name="keywords" content="Aaron Lindsay, Aaron, AerialX, Wii, PS3, homebrew, RawkSD, Riivolution, R3volution, Supersonic Wii, RVLution" />
	</head>
	<body>
		{% include header.htm %}

		<div class="header">
			<h2>a.k.a. AerialX</h2>
			<p>I make stuff.</p>
		</div>

		{% include footer.htm %}
	</body>
</html>
