		<p>
			<strong>Aaron Lindsay</strong><br />
			<a href="mailto:aaron@{{ site.data.global.domain }}">aaron@{{ site.data.global.domain }}</a> | <a href="http://{{ site.data.global.domain }}">{{ site.data.global.domain }}</a> | <a href="http://github.com/AerialX">GitHub</a><br />
			&#x28;&#x34;&#x30;&#x31;&#x29;&#x20;&#x36;&#x38;&#x34;&#x20;&#x31;&#x33;&#x33;&#x37;<br />

			<span class="address">
			Toronto, Ontario</span>
		</p>

		<p>
			Dedicated and hard-working freelance programmer with experience in numerous languages, platforms, systems, and security schemes. Has a keen interest in embedded and mobile development and often works as a tools programmer. Works well in a team environment and is a fast learner of any new technologies.
		</p>
