		<p>
			<strong>Bubl Technology Inc.</strong>
			<span class="address">324 – 171 E Liberty St.<br />
			Toronto, Ontario, M6K 3P6</span>
			Mobile and Embedded Firmware Developer, Consultant<br />
			<em>March 2014 to Present</em><br />

			Lead firmware development of an embedded Linux system on a consumer
			product device. Involved development of kernel, bootloader, and
			userspace components - as well as AVR microcontroller firmware.
			Also developed the iOS and Android camera control and OpenGL VR rendering app:
			<ul style="margin-top: -0.8em">
				<li><a href="https://itunes.apple.com/app/id945494910">Bubl App</a></li>
			</ul>
		</p>

		<p>
			<strong>Swappz Interactive</strong>
			<span class="address">489 Queen St. E #400<br />
			Toronto, Ontario, M5A 1V1</span>
			Mobile Game Development, Lead Programmer<br />
			<em>August 2013 to January 2014</em><br />

			Responsible for the development of games on iOS and Android
			platforms. Primarily worked with Unity and C#.
			Titles worked on include:
			<ul style="margin-top: -0.8em">
				<li>Power Rangers MegaForce: Swappz MegaBrawl</li>
				<li>Smurfs World</li>
			</ul>
		</p>

		<p>
			<strong>FlashFlashRevolution, Inc.</strong><br />
			Web and Server Game Development<br />
			<em>March 2013 to May 2014</em><br />

			Development of multiplayer interoperability and core game features
			in Flash and ActionScript.
		</p>

		<p>
			<strong>Amateur Pixels</strong><br />
			Mobile Game Development, Co-Founder<br />
			<em>November 2011 to Present</em><br />

			Created iOS and Android games with C++, OpenGL, and OpenAL
			technologies. Produced the infamous comedy game Desert Bus to support
			<a href="http://www.childsplaycharity.org/">Child's Play</a> charity
			and <a href="https://desertbus.org/">Desert Bus for Hope</a>.
			<ul style="margin-top: -0.8em">
				<li><a href="https://itunes.apple.com/app/id470288016">Desert Bus</a></li>
				<li><a href="https://itunes.apple.com/app/id477049162">Word Tangle</a></li>
			</ul>
		</p>

		<p>
			<strong>XMG Studio Inc.</strong>
			<span class="address">67 Yonge St. #1600<br />
			Toronto, Ontario, M5E 1J8</span>
			Mobile Game Development Internship<br />
			<em>May 2011 to September 2011</em><br />

			Developed iOS games in C++ and C#/Unity. Prototyped innovative AR
			game mechanics.
			Titles worked on:
			<ul style="margin-top: -0.8em">
				<li>Louisville Slugger Homerun Challenge</li>
				<li><a href="https://itunes.apple.com/app/id533816549">Ghostbusters Paranormal Blast</a></li>
			</ul>
		</p>
