		<p>
		<strong><em>Platforms</em></strong>: <acronym title="Arch Linux, Ubuntu, Debian, Fedora, openSUSE, Gentoo">Linux</acronym>,
			<acronym title="9x, 2000, XP, 2003, Vista, 2008, 7">Windows</acronym>,
			Nintendo DS,
			Nintendo Wii,
			Sony PlayStation 3,
			iOS,
			Android
			Adobe Flash,
			.NET,
			XNA<br />
		<strong><em>Tools and Technologies</em></strong>:
			GNU Compiler Collection,
			Microsoft Visual Studio,
			<acronym title="VSS, SVN, Mercurial, Git">Revision Control Systems</acronym>,
			<acronym title="Apache, lighttpd, MySQL">LAMP</acronym>,
			Networking,
			SDL,
			OpenGL,
			OpenAL,
			Unity3D,
			HTML5<br />
		<strong><em>Programming Languages</em></strong>:
			C, C++, Objective-C, C#, Java, Rust,
			Go, Python,
			Visual Basic, Visual Basic.NET,
			<acronym title="PowerPC, ARM">Assembly</acronym>,
			ActionScript,
			PHP, SQL, (X)HTML, CSS, JavaScript<br />
		</p>
